body{
    background: #ffadad;
    font-family: 'Nunito', sans-serif;
}
#mainNavbar{
    font-size:1.5em;
    font-weight:100;
}
#mainNavbar .nav-link{
    color: white;
}
#mainNavbar .nav-link:hover{
    color: #bdb2ff;
}
#mainNavbar .navbar-brand{
    color: #bdb2ff;
    font-size: 1.5em;
    font-weight:100;
}
#headingGroup span{
    color:black;
}
#headingGroup h1{
    font-weight: 100;
    font-size:4em;
}

@media (max-width: 600px){
    body{
        font-weight:100;
        font-size:3rem;
    }
}


