img{
    width:30%;
    margin:0.666%;
}
nav{
    text-transform: uppercase;
    width:30%;
    border-bottom: 3px solid grey;
    margin-left: 0.666%;
    padding: 20px 0;
    font-family: 'Roboto Condensed', sans-serif;
}