section{
    width: 500px;
    height:500px;
    background-color: rgb(192, 135, 65);
}
#rgba{
    width: 50%;
    height: 50%;
    background-color:#ffff00cc;
}
#opacity{
    width: 50%;
    height: 50%;
    background-color:rgba(255,0,0);
    opacity:0.5;
}