h1{
    background-color:#cb997e ;
    border: 5px solid rgba(6, 6, 83, 0.658);
    color:#03071e;
    padding:0.7em;
    width: 300px;
    font-size: 1.8em;
    text-align: center;
    margin: 20px auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}
h1:nth-of-type(2n){
    background-color: #9d0208;
}
h1:nth-of-type(3n){
    background-color:#457b9d ;
}
h1:nth-of-type(4n){
    background-color: #6a040f;
}
section:first-of-type h1:nth-of-type(1){
    transform: rotate(45deg) ;
    /*transform-origin:bottom right;*/
}
section:first-of-type h1:nth-of-type(2){
    transform: scale(0.7,1) ;   
}
section:first-of-type h1:nth-of-type(3){
    transform: translate(200px) ;
}
section:first-of-type h1:nth-of-type(4){
    transform: translate(100px, 50px);
}
section:nth-of-type(2) h1:nth-of-type(1){
    transform: skew(30deg) ;
}
section:nth-of-type(2) h1:nth-of-type(2){
    transform: skew(30deg,20deg) ;
}
section:nth-of-type(2) h1:nth-of-type(3){
    transform: rotate(-20deg) scale(1.2) ;
}
section:nth-of-type(2) h1:nth-of-type(4){
    transform: translateX(350px) rotate(0.5turn) scaleY(1.5);
}
section:nth-of-type(2) {
    transform: rotate(30deg) ;
}