span{
    background-color: palevioletred;
    border: 1px solid black;
    padding: 50px;
    display: inline-block;
    
}
h1{
    background-color: peachpuff;
    border:1px solid black;
    width:200px;
    height:100px;
    padding:50px;
    margin:10px;
    display:inline-block;
}
div{
    height: 200px;
    width:200px;
    background-color: rebeccapurple;
    border:1px solid black;
    display:inline-block;
}
