body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #151b29;
}
button{
    background: none;
    color:#ffa260;
    border:2px solid;
    padding: 1em 2em;
    font-size: 1em;
    border-radius: 10px;
    transition:all 0.2s;
    
}
button:hover{
    border-color:goldenrod;
    color:white;
    box-shadow:0 0.5em 0.5em -0.4em goldenrod;
    transform: translateY(-0.25em);
    cursor:pointer;
}