/**{
    background-color: cyan;
}*/

body{
    background-color: #a8dadc;
}
button{
    font-size:30px;
    color: #1d3557;
}
h3{
    color:#457b9d;
}
#login{
    color:darkslateblue
}
.abc{
    background-color:#6d6875;
    color: white;
    font-size: 12px;
}
li a{
    color:#14213d;
}
.post a{
    color:teal;
}
footer>a{
    color:tomato;
}
input[type="password"]{
    color:#14213d;
}
section[class="post"]{
    background-color: antiquewhite;
}
a[href*="google"]{
    color: rgb(48, 14, 2);
}
.post button:hover{
    background-color: rgb(218, 16, 16);
    color:salmon;
}
a:hover{
    text-decoration: overline wavy purple;
}
.post button:active{
    background-color: sienna;
}
.post:nth-of-type(2n){
    background-color: rgb(176, 204, 233);
}
h3::first-letter{
    font-size:50px;
}
p::first-line{
    color: crimson;
}
p::selection{
    background-color: orangered;
}
