body{
    color:purple;
    margin: 10px;
}
section{
    color:rgb(82, 82, 129);
}
form{
    color:salmon;
    margin: 10px;
}
button{
    color:inherit;
}
input{
    color:inherit;
}
h1{
    width:150px;
    background-color: whitesmoke;
    padding-right:10px;
    margin: 10px;
}
h2{
    margin: 10px;
}
#one{
    background-color: rgb(21, 135, 228);
    border-width:3px;
    border-color:black;
    border-style:ridge;
    width:500px;
    border-radius:10px 100px/120px;
    margin: 10px;
}
#two{
    background-color: rgb(161, 152, 142);
    width:500px;
    border: 4mm inset brown;
    border-radius: 10%;
    margin: 10px;
}
.hii{
    border:3px solid rgb(226, 115, 152);
    border-radius: 3px;
    width:200px;
    text-align: center;
    font-family: cursive;
    margin: 10px;
}
img{
    border:3px solid grey;
    border-radius:50%;
    
}
button{
    padding:0 px 20px;
}

