h1{
    
    text-align: center;
    text-decoration: crimson;
    text-shadow: darkgray;
    font-weight: bold;
    font-family:Verdana;
    text-decoration: purple wavy underline;
    text-transform: uppercase;
    letter-spacing: 20px;
}
p{
    text-align: center;
}
