div{
    width:100px;
    height:100px;
    background-color: #3d405b;
    border:2px solid black;
    margin:10px;
    display:inline-block;
}
#middle{
    background-color:blue;
}
#static #middle{
    position: static;
    top:10px;
}
#relative #middle{
    position:relative;
    top:10px;
    left:100px;    
}
#Absolute #middle{
    position:absolute;
    top:100px;
    left:50px;
}
#fixed #middle{
    position:fixed;
    top:0;
    left:0;
}