.circle{
    width: 300px;
    height: 300px;
    background-color: brown;
    transition:background-color 1s 1s;
    
}
.circle:hover{
    background-color: cadetblue;
    border-radius: 50%;
}
section div{
    height:100px;
    width:100px;
    background-color: chocolate;
    margin:20px 0;
    transition:margin-left 3s;
}
section:hover div{
    margin-left:500px;
}
div:nth-of-type(1){
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
div:nth-of-type(2){
    transition-timing-function:linear ;
}
div:nth-of-type(3){
    transition-timing-function: ease-out;
}
div:nth-of-type(4){
    transition-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
}