body{
    font-family: 'Open Sans', sans-serif;
}
h1{
    text-align: center;
}
#container{
    background-color: #003049;
    width:90%;
    /*height: 500px;*/
    margin: 0 auto;
    border:5px solid #003049;
    display:flex;
    flex-direction:row;
    justify-content: center ;
    /*flex-wrap: wrap;*/
}
#container div{
    width:200px;
    height: 200px; 
    font-size: 4em;
    text-align:center; 
    flex-basis: 200px;
     
}
div:nth-of-type(1){
    flex-grow:1;
    flex-shrink:2;
}
div:nth-of-type(5){
    flex-grow:2;
    flex-shrink: 0;
}